.dinner__page__container {
  height: 100vh;
  width: 100vw;
  background: var(--dinner-page-backbround-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dinner__header__container {
  height: 10vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.dinner__title__container {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.title__text__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.title__text__content {
  font-size: 3.5vh;
}

.info__button {
  height: 4vh !important;
  width: 9vw;
  background-color: var(--transparent-background);
  border: 1px solid #888888;
}

.dinner__subtitle {
  color: #888888;
  margin-top: 1vh;
  font-size: 1.7vh;
}

.items__container {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.item__lock__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5vh;
  background-color: white;
  border-radius: 7px;
}

.transparent__background{
  background-color: var(--transparent-background);
  border:1px solid #888888;
}
.dinner__item__text__container {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
}

.dinner__item__text {
  z-index: 0;
  padding-left: 8vw;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: black;
  font-size: 1.6vh;
}

.lock__icon {
  height: 2vh;
  width: 4vw;
  position: absolute;
  background-color: var(--transparent-background);
  z-index: 1;
  margin-left: 3vw;
}

.add__item__button__container {
  width: 85vw;
  height: 5vh;
  margin-top: 5vh;
}

.add__item__button {
  width: 100%;
  height: 100%;
  border: 1px solid var(--button-background-color);
  border-radius: 7px;
  background-color: var(--transparent-background);
  color: var(--button-background-color);
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  text-align: left;
}

.white__background{
  background-color: white;
}

.hint__modal__container {
  width: 80vw;
  height: fit-content;
  min-height: 30vh;
  background-color: white;
  border: 1px solid #ececec;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  justify-content: space-between;
  position: absolute;
  bottom: 10vh;
}

.hint__message__container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.protected__fields__message {
  font-weight: 500;
  font-size: 2.4vh;
  line-height: 126.16%;
  margin: 3vh;
}

.icon__text__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  margin-top: 5vh;
  font-size: 2.5vh;
  margin-left: 2.5vh;
}

.community__message, .add__item__message {
  font-weight: 500;
  line-height: 126.16%;
  margin: 5vh;
  margin-left: 0;
}

.community__message{
  font-size:2vh;
}

.add__item__message{
  font-size: 2.4vh;
  width: 42vw;
}

.hint__buttons__container {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: end;
}

.hint__done__button {
  background-color: var(--transparent-background);
  border-color: var(--button-background-color);
  color: var(--button-background-color);
  font-weight: 600;
  width: 20vw;
}

.hint__add__item__button,
.hint__try__it__button {
  background-color: var(--button-background-color);
  border-color: var(--button-background-color);
  color: white;
  font-weight: 600;
}

.hint__add__item__button {
  width: 40vw;
}

.hint__try__it__button {
  width: 45vw;
}
