.dinner__page__container {
  height: 100vh;
  width: 100vw;
  background: var(--dinner-page-backbround-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dinner__header__container {
  height: 10vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.dinner__title__container {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.title__text__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.title__text__content {
  font-size: 3.5vh;
}

.info__button {
  height: 4vh !important;
  width: 9vw;
  background-color: var(--transparent-background);
  border: 1px solid #888888;
}

.dinner__subtitle {
  color: #888888;
  margin-top: 1vh;
  font-size: 1.7vh;
}

.items__container {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.item__lock__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5vh;
  background-color: white;
  border-radius: 7px;
}

.dinner__item__text__container {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
}

.dinner__item__text {
  z-index: 0;
  padding-left: 8vw;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: black;
  font-size: 1.6vh;
}

.lock__icon {
  height: 2vh;
  width: 4vw;
  position: absolute;
  background-color: var(--transparent-background);
  z-index: 1;
  margin-left: 3vw;
}
