.welcome__page__container {
  height: 100vh;
  width: 100vw;
  background: var(--welcome-page-backgroung-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.logo__container {
  width: 35vw;
  margin-top: 20vh;
}

.logo__content {
  width: 100%;
}

.logo__container__shrink {
  width: 22vw;
  margin-top: 10vh;
}

.hello__text__container {
  width: 70vw;
  margin-top: 10vh;
}

.hello__content {
  font-weight: 700, bold;
  font-size: 4vh;
  margin: 1vh;
}
